.Game {
    margin: auto;
    margin-top: 8rem;
}

.question {
    width: 70%;
    border: 1px solid white;
    padding: 0.5rem 2rem;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 3rem;
    color: #fff;
}

.question h1 {
    font-family: 'Indie Flower', cursive;
}


.answer {
    width: 70%;
    display: flex;
    margin: auto;
    margin-bottom: 3rem;
    align-items: center;
}

.answer input {
    width: 100%;
    height: 2rem;
    border: 1px solid white;
    border-radius: 10px;
}

.answer input:focus {
    outline: none;
}

.answer button {
    width: 20rem;
    height: 2rem;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.375;
    display: block;
    border-radius: 10px;
    background-color: #45cecd;
    border: none;
}
