* {box-sizing: border-box;}

.Game {
    margin: auto;
    margin-top: 4em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.question {
    width: 70%;
    border: 1px solid white;
    padding: 0.5rem 2rem;
    padding-bottom: 2rem;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 3rem;
    /* color: #fff; */
}

.question h3 {
    font-family: 'Indie Flower', cursive;
}

.question .topic {
    background-color: rgba(150, 255, 150, 10);
    margin: 1rem 2rem;
    padding: 2px 8px;
    border-radius: 10px;
    /* background-image: url("../imgs/tag.svg"); */
    background-position: left;
    background-repeat: no-repeat;
}


.answer {
    width: 76%;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.answer input {
    width: 80%;
    height: 3rem;
    padding: 0.3rem 0rem 0rem 1rem;
    border: 1px solid white;
    border-radius: 10px;
    font-family: 'Indie Flower', cursive;
    font-size: 1.17em;
    font-weight: bold;
}

.answer input:focus, .answer button:focus {
    outline: none;
}


.review {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.review .left {
    width: 50%;
}

.review .left .question {
    width: 90%;
    height: 100%;
}

.review .right {
    width: 50%;
}

.review .answer-row {
    padding: 5px 10px;
    margin: 30px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.review .answer-row .answer-text {
    font-family: 'Indie Flower', cursive;
}


.answer-row .score {float: left;}
.answer-row .score[data-pos=true] {color: green;}
.answer-row .score[data-neg=true] {color: red;}
.answer-row button:focus {outline: none;}

.answer-row .arrow-top {
    width: 0;
    height: 0;
    margin-bottom: 7px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #DDCCCC;
}

.answer-row .arrow-btm {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #DDCCCC;
    margin-left: -1px;
}

.answer-row .arrow-btm[data-used=true] {border-top: 15px solid #FF6666;}
.answer-row .arrow-top[data-used=true] {border-bottom: 15px solid #66DD66;}
